.todocart{
  
width: 250px;
height: 300px;
margin-left: 20px;
margin-top: 5px;
font-family:Verdana, Geneva, Tahoma, sans-serif;

position: relative;
}
.brown{
  color: white;
  background-color: rgb(53, 12, 14);
} 
.white{
  color: rgb(46, 46, 46);
  background-color: rgb(168, 168, 168);
  
} 
.dark{
  color: white;
  background-color: rgb(68, 68, 68);
} 
.blue{
  color: white;
  background-color: rgb(17, 12, 59);
} 
.red{
  color: white;
  background-color: rgb(230, 0, 11);
} 
.green{
  color: white;
  background-color: rgb(12, 78, 34);
} 

.todocart>.main{
  margin: 0 auto;
}
.todocart>.main>.title{
  text-align: center;
  font-size: 1.2rem;
  color: white;
  margin-top: 10px;
  font-weight: bold;
  margin-top: 20px;
  width: 70%;
  margin-left: 15%;
  padding-top: 10px;
  overflow: hidden;
 
}
.todocart>.main>.desc{
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  color: white;
border: 2px solid white;
 width: 200px;
  margin:0 auto;
  height: 200px;
  
}
.todocart>.main>.desc>p{
margin: 5px;
  white-space: wrap;
  overflow-wrap: break-word;
}

.todocart>button{
  margin-top: 10px;
  margin-left: 25px;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  width: 50px;

}
.todocart>button:hover{
  cursor: pointer;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}
.todocart>.delete{
position: absolute;
right: -10px;
top: -20px;
z-index: 2;
background-color: rgb(255, 10, 10);
color: white;
width: 30px;
height: 30px;
border-radius: 50%;
}
.todocart>.delete:hover{
  cursor: pointer;
  background-color: rgba(255, 10, 10, 0.5);
}