.todoCreator{
  margin: 20px 0 0 20px;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 300px;
  border: 3px solid #313131;
 
}
.todoCreator__dark{
  margin: 20px 0 0 20px;
  background-color: rgb(97, 97, 97);
  width: 250px;
  height: 300px;
}
.main_inputcreator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.main_inputcreator>input{
margin-top: 10px;
border-radius: 2px;
padding-left: 10px;
height: 35px;;
border: none;
background-color: rgb(238, 236, 236);
border:1px solid rgb(15, 10, 10);
font-weight: bold;
}
.main_inputcreator>input:focus{
  outline: none;
  
}

.main_inputcreator>textarea{
  resize: none;
  width: 239px;
  margin-top: 20px;
margin-bottom: 10px;
height: 150px;
}
.group_btn_c{
margin-left: 10px;
}
.group_btn_c>button{
  background-color: #fff;
  color: rgb(3, 3, 3);
  border-radius: 20px;
  text-align: center;
  border: none;
  margin-left: 30%;
  width: 70px;
  

}
